.DS_Store
*.pro.user
*.pro.shared
*~
Makefile*
*.pdb
*.exe
*.dll
*.o
*.ilk
*.obj
*.lib
*.res
*.exp
*.manifest
*_resource.rc
moc_*.cpp
ui_*.h
qrc_*.cpp
*.moc
*so-deployment-settings.json
.qmake.cache
.pch
QtBluetooth.version*
QtNfc.version*
target_wrapper.sh
uic_wrapper.sh
qdoc_wrapper.sh
qhelpgenerator_wrapper.sh
qmlplugindump_wrapper.sh
qdbusxml2cpp_wrapper.sh
config.log
tmp
imports/*
include
config.tests/bluez/bluez
config.tests/bluez_le/bluez_le
examples/bluetooth/btchat/btchat
examples/bluetooth/btfiletransfer/btfiletransfer
examples/bluetooth/btscanner/btscanner
examples/bluetooth/chat/qml_chat
examples/bluetooth/heartrate-game/heartrate-game
examples/bluetooth/heartrate-server/heartrate-server
examples/bluetooth/lowenergyscanner/lowenergyscanner
examples/bluetooth/pingpong/pingpong
examples/bluetooth/picturetransfer/qml_picturetransfer
examples/bluetooth/scanner/qml_scanner
examples/nfc/annotatedurl/annotatedurl
examples/nfc/ndefeditor/ndefeditor
examples/nfc/poster/qml_poster
examples/nfc/corkboard/qml_corkboard
src/bluetooth/codeattributions.qdoc
src/bluetooth/doc/snippets/bluetooth_cppsnippet
src/bluetooth/qtattributionsscanner_wrapper.sh
src/bluetooth/qtbluetooth-config.h
src/bluetooth/qtbluetooth-config.pri
src/bluetooth/qtbluetooth-config_p.h
src/nfc/codeattributions.qdoc
src/nfc/doc/snippets/nfc_cppsnippet
src/nfc/qtattributionsscanner_wrapper.sh
tests/auto/cmake/build
tests/auto/qbluetoothaddress/tst_qbluetoothaddress
tests/auto/qbluetoothdevicediscoveryagent/tst_qbluetoothdevicediscoveryagent
tests/auto/qbluetoothdeviceinfo/tst_qbluetoothdeviceinfo
tests/auto/qbluetoothhostinfo/tst_qbluetoothhostinfo
tests/auto/qbluetoothlocaldevice/tst_qbluetoothlocaldevice
tests/auto/qbluetoothserver/tst_qbluetoothserver
tests/auto/qbluetoothservicediscoveryagent/tst_qbluetoothservicediscoveryagent
tests/auto/qbluetoothserviceinfo/tst_qbluetoothserviceinfo
tests/auto/qbluetoothsocket/tst_qbluetoothsocket
tests/auto/qbluetoothtransfermanager/tst_qbluetoothtransfermanager
tests/auto/qbluetoothtransferrequest/tst_qbluetoothtransferrequest
tests/auto/qbluetoothuuid/tst_qbluetoothuuid
tests/auto/qlowenergycharacteristic/tst_qlowenergycharacteristic
tests/auto/qlowenergycontroller/tst_qlowenergycontroller
tests/auto/qlowenergydescriptor/tst_qlowenergydescriptor
tests/auto/qlowenergyservice/tst_qlowenergyservice
tests/auto/qlowenergyserviceinfo/tst_qlowenergyserviceinfo
tests/auto/qndefmessage/tst_qndefmessage
tests/auto/qndefnfcsmartposterrecord/tst_qndefnfcsmartposterrecord
tests/auto/qndefrecord/tst_qndefrecord
tests/auto/qnearfieldmanager/tst_qnearfieldmanager
tests/auto/qnearfieldtagtype1/tst_qnearfieldtagtype1
tests/auto/qnearfieldtagtype2/tst_qnearfieldtagtype2
tests/bttestui/bttestui
tests/nfctestserver/nfctestserver
