*.pro.user
*.pro.shared
*~
Makefile*
*.pdb
*.exe
*.dll
*.o
*.ilk
*.obj
*.lib
*.res
*.exp
*.manifest
*_resource.rc
moc_*.cpp
ui_*.h
qrc_*.cpp
*.moc
*so-deployment-settings.json
.qmake.cache
config.log
tmp
imports/*
include
config.tests/bluez/bluez
examples/bluetooth/btchat/btchat
examples/bluetooth/btfiletransfer/btfiletransfer
examples/bluetooth/btscanner/btscanner
examples/bluetooth/bttennis/bttennis
examples/bluetooth/scanner/qml_scanner
examples/nfc/annotatedurl/annotatedurl
examples/nfc/ndefeditor/ndefeditor
examples/nfc/poster/qml_poster
examples/nfc/corkboard/qml_corkboard
tests/auto/cmake/build
tests/auto/qbluetoothaddress/tst_qbluetoothaddress
tests/auto/qbluetoothdevicediscoveryagent/tst_qbluetoothdevicediscoveryagent
tests/auto/qbluetoothdeviceinfo/tst_qbluetoothdeviceinfo
tests/auto/qbluetoothhostinfo/tst_qbluetoothhostinfo
tests/auto/qbluetoothlocaldevice/tst_qbluetoothlocaldevice
tests/auto/qbluetoothservicediscoveryagent/tst_qbluetoothservicediscoveryagent
tests/auto/qbluetoothserviceinfo/tst_qbluetoothserviceinfo
tests/auto/qbluetoothsocket/tst_qbluetoothsocket
tests/auto/qbluetoothtransfermanager/tst_qbluetoothtransfermanager
tests/auto/qbluetoothtransferrequest/tst_qbluetoothtransferrequest
tests/auto/qbluetoothuuid/tst_qbluetoothuuid
tests/auto/ql2capserver/tst_ql2capserver
tests/auto/qndefmessage/tst_qndefmessage
tests/auto/qndefrecord/tst_qndefrecord
tests/auto/qnearfieldmanager/tst_qnearfieldmanager
tests/auto/qnearfieldtagtype1/tst_qnearfieldtagtype1
tests/auto/qnearfieldtagtype2/tst_qnearfieldtagtype2
tests/auto/qrfcommserver/tst_qrfcommserver
tests/nfctestserver/nfctestserver
