[project]
	description = The QtConnectivity repository.\n\
\n\
ssh://codereview.qt-project.org:29418/qt/qtconnectivity
[receive]
	requireChangeId = true
	requireContributorAgreement = true
	allowTopicReview = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access "refs/heads/newdocs"]
	exclusiveGroupPermissions = stage
	submit = group Approvers
