[project]
	description = The QtConnectivity repository.\n\
\n\
ssh://codereview.qt-project.org:29418/qt/qtconnectivity
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	forgeAuthor = group Continuous Integration Bot
	forgeCommitter = group Continuous Integration Bot
	forgeServerAsCommitter = group Continuous Integration Bot
	stage = group Approvers
[access "refs/heads/*"]
	create = group Continuous Integration Bot
	push = +force group Continuous Integration Bot
	submit = group Continuous Integration Bot
